{% extends 'base.html' %}
{% load static %}

{% block content%}
<form method="POST">
    {% csrf_token %}
    
    <div class="signup">
        <div class="login-img1"><div class="main1" style="background-image: url('{% static 'img/login.png' %}')"></div></div>
        <div class="input_panel" >
            <div class="input-1">Login</div>
            <div class="input1"><pre>      Email<input type="email" placeholder="Email" name="email"></pre></div>
            <div class="input1">Password<input type="password" placeholder="Password" name="password"></div>
            
            <div class="input2"><input type="submit" placeholder="submit"></div>
        </div>
    </div>
</form>
{% endblock %}
